---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[cvc]=123&card[exp_month]=12&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_18aTBlDTh2DhiR4RspadudBJ",
          "object": "token",
          "card": {
            "id": "card_18aTBlDTh2DhiR4RE4Dgzu7z",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.13.236.96",
          "created": 1469292081,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 23 Jul 2016 16:41:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
      string: amount=3000&currency=usd&description=&metadata[reference]=a1db0680d85dac7e33c8&source=tok_18aTBlDTh2DhiR4RspadudBJ
=======
      string: amount=3000&currency=usd&description=&metadata[reference]=fred&source=tok_18aEfQDTh2DhiR4RMQsWeyP6
>>>>>>> scratch for sprockets beta and bootstrap
    headers:
      Authorization:
      - Bearer sk_test_cQ27CjeGmTY8IYOdtcVFu0RD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
      - a1db0680d85dac7e33c8
      Content-Length:
      - '114'
=======
      - fred
      Content-Length:
      - '98'
>>>>>>> scratch for sprockets beta and bootstrap
      Host:
      - api.stripe.com
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
      - Sat, 23 Jul 2016 16:41:22 GMT
      Content-Type:
      - application/json
      Content-Length:
      - '1510'
=======
      - Sat, 23 Jul 2016 01:11:01 GMT
      Content-Type:
      - application/json
      Content-Length:
      - '1494'
>>>>>>> scratch for sprockets beta and bootstrap
      Connection:
      - keep-alive
      Access-Control-Allow-Credentials:
      - 'true'
      Access-Control-Allow-Methods:
      - GET, POST, HEAD, OPTIONS, DELETE
      Access-Control-Allow-Origin:
      - "*"
      Access-Control-Max-Age:
      - '300'
      Cache-Control:
      - no-cache, no-store
      Idempotency-Key:
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
      - a1db0680d85dac7e33c8
      Original-Request:
      - req_8sDdxu8XrSZHpm
      Request-Id:
      - req_8sDdxu8XrSZHpm
=======
      - fred
      Original-Request:
      - req_8rycFzNRkOESbV
      Request-Id:
      - req_8rycFzNRkOESbV
>>>>>>> scratch for sprockets beta and bootstrap
      Stripe-Version:
      - '2016-07-06'
      Strict-Transport-Security:
      - max-age=31556926; includeSubDomains
    body:
      encoding: UTF-8
      string: |
        {
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
          "id": "ch_18aTBmDTh2DhiR4RypeyWVNg",
=======
          "id": "ch_18aEfQDTh2DhiR4RQf9LDCej",
>>>>>>> scratch for sprockets beta and bootstrap
          "object": "charge",
          "amount": 3000,
          "amount_refunded": 0,
          "application_fee": null,
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
          "balance_transaction": "txn_18aTBmDTh2DhiR4Rmnm7s1lv",
          "captured": true,
          "created": 1469292082,
=======
          "balance_transaction": "txn_18aEfRDTh2DhiR4RlKc2WrI5",
          "captured": true,
          "created": 1469236260,
>>>>>>> scratch for sprockets beta and bootstrap
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
            "reference": "a1db0680d85dac7e33c8"
=======
            "reference": "fred"
>>>>>>> scratch for sprockets beta and bootstrap
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
            "url": "/v1/charges/ch_18aTBmDTh2DhiR4RypeyWVNg/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18aTBlDTh2DhiR4RE4Dgzu7z",
=======
            "url": "/v1/charges/ch_18aEfQDTh2DhiR4RQf9LDCej/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18aEfQDTh2DhiR4RzFMgGEGy",
>>>>>>> scratch for sprockets beta and bootstrap
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "53va2Duhj7Ina18Z",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
<<<<<<< cc45fc0cb38da44c4cd59e4ea97eb09fc076de2e
  recorded_at: Sat, 23 Jul 2016 16:41:22 GMT
=======
  recorded_at: Sat, 23 Jul 2016 01:11:01 GMT
>>>>>>> scratch for sprockets beta and bootstrap
recorded_with: VCR 3.0.3
